.wp-block-embed {
    overflow-wrap: break-word;

    &.wp-embed-aspect-16-9 {
        .wp-block-embed__wrapper {
            &::before {
                padding-top: 56.25%;
            }
        }
    }

    .wp-block-embed__wrapper {
        position: relative;

        &::before {
            content: '';
            display: block;
            padding-top: 50%;
        }
    }

    iframe {
        max-width: 100%;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}
